body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #fff;
  }
.test{
    background: #000;
}
  /* Scrollbar styles */
  *::-webkit-scrollbar {
    width: 0.4em; 
  }
  
  *::-webkit-scrollbar-track {
   display: none;
  }
  
  *::-webkit-scrollbar-thumb {
    display: none;
  }
  